.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
   color: #ffffff;
   background-color: #122230;
}

#login {
   width: 100%;
   //background: url("../../../assets/bgArca.jpg") no-repeat;
   background-size: cover;
   height: 100%;

   .formLogin {
      background-color: white;
   }
   .cardLogin {
      width: 80%;
   }
   .logo {
      width: 128px;
      margin: 32px auto;
      img#imgLogo {
         width: 300px;
      }
   }
   .title {
      font-size: 19px;
      margin: 16px 0 32px 0;
   }
   .forgot-password {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 16px;
   }
   mat-card-subtitle.mat-card-subtitle {
      font-size: initial;
      color: #112230;
      font-family: sans-serif;
   }
   mat-form-field {
      width: 70%;
   }
   .submit-button {
      width: 220px;
      margin: 16px auto;
      display: block;
   }
   a.forgot-password {
      color: #112230;
      text-decoration: none;
   }
   .forgot-password a:hover {
      background-color: blue($color: #000000);
   }
   .remember-me {
      margin-left: 15%;
   }
   mat-card.mat-card.mat-focus-indicator.title2 {
      width: 60%;
      margin-top: -7%;
   }
   .mat-card:not([class*="mat-elevation-z"]) {
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0),
         0px 1px 1px 0px rgba(0, 0, 0, 0), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
   }
   .error-code {
      font-size: 112px;
      text-align: center;
      line-height: 1;
      margin-bottom: 16px;
      font-weight: 600;
   }

   .message {
      font-size: 24px;
      text-align: center;
   }
}
