<div fxLayoutAlign="center">
   <h2 mat-dialog-title>Cadastro de Visitante</h2>
</div>
<div mat-dialog-content>
   <form>
      <div class="example-container">
         <div fxLayoutAlign="center">
            <mat-form-field appearance="outline">
               <mat-label>Nome do Visitante</mat-label>
               <input matInput placeholder="Fulano da Silva" />
               <mat-icon matSuffix>person_add</mat-icon>
            </mat-form-field>
         </div>
         <div fxLayoutAlign="center">
            <mat-form-field appearance="outline">
               <mat-label>CPF</mat-label>
               <input matInput placeholder="000.000.000-00" />
               <mat-icon matSuffix>featured_play_list</mat-icon>
            </mat-form-field>
         </div>
      </div>
   </form>
</div>
<br />
<div mat-dialog-actions align="center">
   <button mat-button [mat-dialog-close]="true" id="button-register">
      Cadastrar
   </button>
   <button mat-button mat-dialog-close id="button-cancel">Cancelar</button>
</div>
