<mat-toolbar color="primary">
   <button type="button" (click)="drawer.toggle()" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
   </button>
   <span>BECE PF SENSE</span>
   <span class="example-spacer"></span>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
   <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-nav-list>
         <a mat-list-item style="color: white" [routerLink]="'/visitors'">Visitantes</a>
         <a mat-list-item style="color: white" [routerLink]="'/vouchers'">
            Vouchers
         </a>
         <!-- <a mat-list-item style="color: white" [routerLink]="'/users'">
            Usuários
         </a> -->
         <a mat-list-item style="color: white" [routerLink]="'/login'">
            sair
         </a>
      </mat-nav-list>
   </mat-drawer>
   <mat-drawer-container>
      <router-outlet></router-outlet>
   </mat-drawer-container>
</mat-drawer-container>