<div id="login" fxLayout.xs="column" fxLayoutAlign="center">
   <div class="item item-1" fxFlex="30%" fxFlexOrder="1"></div>
   <div class="item item-1" fxFlex="30%" fxFlexOrder="3"></div>
   <div
      class="flexLogin"
      fxLayout="column"
      fxFlexOrder="2"
      fxLayoutAlign="center center"
      fxFlex="50%"
   >
      <mat-card class="cardLogin">
         <div fxLayoutAlign="center" class="logo">
            <img id="imgLogo" src="../../../assets/beceLogo.jpeg" />
         </div>
         <div class="title" fxLayoutAlign="center">Recuperar conta</div>
         <br />
         <div fxLayoutAlign="center">
            <mat-card class="title2">
               Para recuperar sua conta insira seu email abaixo e clique em
               enviar.
            </mat-card>
         </div>
         <br />
         <form>
            <div class="example-container">
               <div fxLayoutAlign="center">
                  <mat-form-field appearance="outline">
                     <mat-label>E-mail</mat-label>
                     <input matInput placeholder="" />
                     <mat-icon matSuffix>email</mat-icon>
                  </mat-form-field>
               </div>

               <br />
               <div fxLayoutAlign="center">
                  <button class="submit-button" mat-button color="primary">
                     Enviar
                  </button>
               </div>
               <br />
               <br />
               <div fxLayoutAlign="center">
                  <a mat-button class="forgot-password" routerLink="/login">
                     Voltar para o login
                  </a>
               </div>
               <br />
            </div>
         </form>
      </mat-card>
   </div>
</div>
